# User-specific files
*.suo
*.user
*.sln.docstates

.vs/
.git/
.idea/

*.DS_Store

/ICIS.Application/bin/
/ICIS.Application/obj/

/ICIS.Application.Contracts/bin/
/ICIS.Application.Contracts/obj/

/ICIS.Domain/bin/
/ICIS.Domain/obj/

/ICIS.Domain.Shared/bin/
/ICIS.Domain.Shared/obj/

/ICIS.EntityFrameworkCore/bin/
/ICIS.EntityFrameworkCore/obj/

/ICIS.EntityFrameworkCore.DbMigrations/bin/
/ICIS.EntityFrameworkCore.DbMigrations/obj/

/ICIS.WebAPI/bin/
/ICIS.WebAPI/obj/
/ICIS.WebAPI/Logs/
/ICIS.WebAPI/logs/
/ICIS.WebAPI/publish/
/ICIS.WebAPI/Publish/
# Publish Web Output
*.Publish.xml

*.xml
*.csprojAssemblyReference.cache
ICIS.DbMigrator/bin
ICIS.DbMigrator/obj
