<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Nlog.RabbitMQ.Target"/>
  </extensions>

  <targets async="true">

    <target xsi:type="File"
            name="file"
            encoding="utf-8"
            fileName="c:/SamJan/Log/Client/${date:yyyyMM}/PreHospitalTriage.log"
            layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${level:uppercase=true}|${processid}|${threadid}|${message}"
            archiveFileName="c:/SamJan/Log/Triage/PreHospitalTriage.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="File"
           name="InterfaceFile"
           encoding="utf-8"
           fileName="c:/SamJan/Log/Interface/${date:yyyyMM}/${shortdate}.log"
           layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${level:uppercase=true}|${processid}|${threadid}|${message}"
           archiveFileName="c:/SamJan/Log/Interface/log.{#}.log"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="30"
           concurrentWrites="true"
           keepFileOpen="false" />
    <!--日志中心地址 127.0.0.1:9900-->
    <target name="logstash" xsi:type="Network" address="tcp://logstash:9900" keepConnection="false"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>

    <!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
    <target name="console" xsi:type="Console" layout="${level}：${longdate}|${message}"/>
    <!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），
    ${level}是日志的等级；${message}是具体要输出的内容。-->
    
    
    <!--发送到RabbitMQ   -->
    <target name="RabbitMQTarget" 
              xsi:type="RabbitMQ"
              hostname="rabbitmq"
              username="PreHospital"
              password="PreHospital"
              port="5672"
              vhost="/"
              exchange="prehospitalmap-log"
              exchangeType="topic"
              useJSON="true"
              includeGdc="true"
              includeNdlc="true"
              includeMdlc="true"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
              UseLayoutAsMessage="true"/>
  </targets>

  <rules>
    <!-- Log 模式  Trace、Debug 、Info 、Warn、Error、Fatal -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="AllInterface" minlevel="Trace" writeTo="InterfaceFile" />
    <!--<logger name="*" level="Info" writeTo="logstash" />-->
    <logger name="*" minlevel="Info" writeTo="RabbitMQTarget" />
  </rules>
</nlog>