<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate}|${level:uppcase=true}|${logger}|${aspnet-TraceIdentifier}|${aspnet-user-identity}| - ${message} ${exception}" />
        <target name="console" xsi:type="Console"
                layout="${longdate}|${level:uppcase=true}|${logger}|${aspnet-TraceIdentifier}|${aspnet-user-identity}| - ${message} ${exception}" />
        <!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），
    ${level}是日志的等级；${message}是具体要输出的内容。-->

    </targets>

    <rules>
        <!-- Log 模式  Trace、Debug 、Info 、Warn、Error、Fatal -->
        <logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>