<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MinioSetting.Endpoint" value="192.168.241.101:9000"/>-->
    <add key="MinioSetting.Endpoint" value="192.168.1.162:9002"/>
    <add key="MinioSetting.AccessKey" value="admin"/>
    <!--<add key="MinioSetting.SecretKey" value="admin123"/>-->
    <add key="MinioSetting.SecretKey" value="admin@dev.szyjian.com"/>
    <add key="MinioSetting.Bucket" value="tray"/> 
    <add key="Version" value="v2.2.6.0"/>
  </appSettings>
</configuration>