<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrintPage" value="10" />
		<add key="DownloadTimeout" value="10000" />
		<add key="WebSocketIp" value="0.0.0.0"/>
		<add key="WebSocketPort" value="23233"/>
		<add key="DeviceVendor" value="万特"/>
		<add key="PrintCenterUrl" value="http://192.168.241.136/api/ecis/report"/>
		<add key="PaperNames" value="A5,B5,A4,B4"/>

		<add key="ProcessPath" value="notepad.exe"/>
		<add key="ProcessArgs" value="C:\Env\redis.conf.txt"/>
	</appSettings> 
</configuration>